.functionBuilderArt {
    position: relative;
    border-radius: 10px;
}

/* Graph */
.functionBuilderArt .graphWrapper {
    position: absolute;
    bottom: 7px;
    left: 7px;
    right: 7px;
    height: 180px;
    background: white;
    border-radius: 5px;
    padding: 7px;
}

.functionBuilderArt .graphWrapper .graph {
    background: white;
}

/* Title */
.functionBuilderArt .functionTitle {
    width: 230px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    height: 90px;
    vertical-align: middle;
    display: table-cell;
}

.functionBuilderArt .functionTitle input {
    width: 110px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    height: 90px;
    vertical-align: middle;
    display: table-cell;
}

/* I/O */
.functionBuilderArt .inputs,
.functionBuilderArt .outputs {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    height: 70px;
    z-index: 1;
}

.functionBuilderArt .inputs {
    left: -10px;
}

.functionBuilderArt .outputs {
    right: -10px;
}

.functionBuilderArt .inputs .connection,
.functionBuilderArt .outputs .connection {
    display: flex;
    margin: auto 0;
}

.functionBuilderArt .inputs .connection {
    flex-direction: row;
}

.functionBuilderArt .outputs .connection {
    flex-direction: row-reverse;
}

.functionBuilderArt .connectionPoint {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #f2f2f2;
    border: solid 4px white;
    border-radius: 100%;
    pointer-events: all;
}

.functionBuilder-tool .functionBuilderArt .connectionPoint:hover {
    border: solid 3px white;
    cursor: pointer;
}

.functionBuilderArt .connectionTitle {
    margin: 0 8px;
    line-height: 24px;
    font-size: 0.9em;
}

/* Placeholder icons */
.textIcon {
    padding: 5px 10px;
    margin: 5px 5px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    white-space: nowrap;
}

.textIcon.active {
    border-color: #4e4e4e;
}

/* Connection */
.functionBuilderConnection {
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.functionBuilderConnection * {
    stroke-width: 3px;
    stroke: black;
    fill: none;
    pointer-events: none;
}
